.button {
    background-color: $button-background-color;
    border: none;
    border-radius: 0;
    color: $button-color;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size $m-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background-color: #888;
}